* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    --kolor1: rgb(13, 11, 29);
    --kolor2: rgb(0, 73, 230);
    --kolor3: rgb(128, 175, 216);
    --t-bg: white;
    --t-sh: black;
    margin: 0;
    background-color: var(--kolor1);
    transition: 1s;
}
#kalk {
    width: fit-content;
    background: transparent;
    border-radius: 10px;
    box-shadow: 0px 0px 10px var(--kolor2);
    padding: 10px;
    margin: auto;
    margin-top: 9rem;
}
#theme {
    background-color: var(--t-bg);
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    position: fixed;
    left: 2rem;
    top: 2rem;
    z-index: 3;
    box-shadow: 0px 0px 10px var(--t-sh);
    padding: 0;
    cursor: pointer;
    transition: 300ms;
}
#theme:hover {
    transform: scale(1.04);
}
#theme:active {
    transform: scale(0.96);
}
#light, #dark {
    position: absolute;
    right: 50%;
    bottom: 8%;
    transform: translate(50%);
    width: 4rem;
    height: 4rem;
    transition: 1s;
}
#light {
    opacity: 0;
}
#ekran {
    transition: 300ms;
}
#wynik {
    height: 150px;
    background: transparent;
    border-radius: 5px;
    box-shadow: 0px 0px 4px var(--kolor2);
    color: var(--kolor3);
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 432px;
}
#wynik > div {
    font-size: 2rem;
    overflow:scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    
}
#przyciski {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 6rem 6rem 6rem 6rem;
    grid-template-rows: 6rem 6rem 6rem 6rem 6rem;
    gap: 1rem;
}
#przyciski > button {
    background: transparent;
    border-radius: 5px;
    box-shadow: 0px 0px 6px var(--kolor2);
    color: var(--kolor3);
    font-size: 1.5rem;
    transition: 300ms;
    border-color: transparent;
    cursor: pointer;
}
#przyciski > button:hover {
    transform: scale(0.98);
}
#przyciski > button:active {
    transform: scale(1.02);
}
::-webkit-scrollbar {
    height: 20px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: transparent;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 5px;
    box-shadow: inset 0px 0px 2px var(--border-kolor);
}