* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
    background-color: rgb(13, 11, 29);
    
}
#kalk {
    width: fit-content;
    background: transparent;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px aqua;
    padding: 10px;
}
#wynik {
    height: 150px;
    background: transparent;
    border-radius: 5px;
    box-shadow: 0px 0px 4px aqua;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 432px;
}
#wynik > div {
    font-size: 2rem;
    overflow:scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    
}
#przyciski {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 6rem 6rem 6rem 6rem;
    grid-template-rows: 6rem 6rem 6rem 6rem 6rem;
    gap: 1rem;
}
#przyciski > input {
    background: transparent;
    border-radius: 5px;
    box-shadow: 0px 0px 4px aqua;
    color: white;
    font-size: 1.5rem;
    transition: 300ms;
}
#przyciski > input:hover {
    transition: 300ms;
    background-color: rgb(17, 14, 37);
    box-shadow: 0px 0px 4px rgb(223, 255, 255);
}

::-webkit-scrollbar {
    height: 20px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: transparent;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 5px;
    box-shadow: inset 0px 0px 2px rgb(0, 26, 255);
}